@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Volunteer Management System</h1>@*
    <p>In this project I practice the pre semester assignment use cases.</p>*@
    <p>Choose either Volunteers or Opportunities to get started</p>
    <a type="button" class="btn btn-outline-primary" asp-controller="Volunteers" asp-action="Index">Volunteers</a>
    <button type="button" class="btn btn-outline-secondary">Opportunities</button>
    <hr />
</div>
